[push]
  default = current

[pull]
  rebase = true

[alias]
  graph = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'

[credential]
  helper = osxkeychain

[rerere]
  enabled = 1

[color]
  ui     = auto
  diff   = auto
  status = auto
  branch = auto

[core]
  excludesfile = /Users/richard/.gitignore_global
  autocrlf     = input
  editor = nvim

[fetch]
  prune = true

[apply]
  whitespace = nowarn

[apply]
  whitespace = nowarn

[mergetool]
  keepBackup = false

[difftool]
  prompt = false

[help]
  autocorrect = 1

[grep]
  linenumber = true

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[pager]
  branch = false

[branch]
  sort = -committerdate

[user]
  name = Richard Howard
  email = richard@promptworks.com

# NEEDS TO BE LAST LINE IN THIS FILE
[include]
  path = .gitconfig.local
