layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }

    tab name="git" split_direction="vertical" cwd="~/code/ws-common" {
        pane name="git" command="lazygit"
        floating_panes {
            pane {
                x "10%"
                y "10%"
                width "80%"
                height "80%"
            }
        }
    }

    tab name="shell" cwd="~/code/ws-common/apps/nova" {
        pane name="shell"
    }

    tab name="server" cwd="~/code/ws-common/apps/nova" {
        pane name="server" command="iex" {
            args "-S" "mix" "phx.server"
        }
    }

    tab name="ai" cwd="~/code/ws-common/apps/nova" {
        pane name="ai"
    }

    tab name="apps" stacked=true {
        pane stacked=true {
            pane name="auth-api" cwd="~/code/ws-common"
            pane name="moxit-web" cwd="~/code/moxit-wonderschool-web"
            pane name="moxit-accounts" cwd="~/code/moxit-wonderschool-accounts"
        }
    }

    tab name="docker" cwd="~/code/ws-common" {
        pane command="lazydocker"
    }
}
