    #appcontent,
        #appcontent > #content,
        #appcontent > #content > tabbox > tabpanels {
          background: #eeeeee !important;
        }
     
        #main-window[stylish-url="about:blank"]:not([onclose^="PrintUtils"]):not([title^="Source Chart"]):not([chromehidden="menubar toolbar directories extrachrome "]) #content browser:not([src]){
           opacity: 0 !important;
        }
     
        a:active {
            outline: none !important;
        }
     
        .tabbrowser-arrowscrollbox > .scrollbutton-up,
        .tabbrowser-arrowscrollbox > .scrollbutton-down,
        toolbarbutton#appmenu-toolbar-button,
        toolbarbutton#alltabs-button,
        toolbarbutton#new-tab-button,
        .tab-icon-image,
        .tabs-closebutton-box,
        .tabs-border-bottom,
        .tab-close-button {
            display: none !important;
        }
     
        tabs#tabbrowser-tabs, tabs#tabbrowser-tabs * {
            -moz-appearance: none !important;
            border-radius: 0px !important;
            border: none !important;
            border-bottom: 0px !important;
            background-image: none !important;
            margin-top: 0px !important;
            max-height: 16px !important;
            min-height: 16px !important;
        }
     
        tabs#tabbrowser-tabs {
            background: #fbfbfb !important;
            padding-top: 0px !important;
            margin-left: 0px !important;
            padding-top: 0px !important;
            max-width: 100% !important;
            min-width: 100% !important;
            border-bottom: 0px !important;
            text-align: center !important;
            box-shadow: none !important;
        }
     
        .tabbrowser-tab {                
                max-height: 12px !important;
                margin-left: 0px !important;                
                padding-top: 1px !important;
                color: #737373 !important;
                border-bottom: 0px !important;
                background: #fbfbfb !important;
                box-shadow: none !important;
        }
     
        .tabbrowser-tab[selected=true] {           
                color: #dedede !important;
                background: #646464 !important;
                border-bottom: 0px !important;
                box-shadow: none !important;
        }
     
        .tabbrowser-tab .tab-text {
                margin-left: 3px !important;
                margin-right: 3px !important;
                margin-top: 2px !important;
                font-size: 14px !important;
                font-family: terminus !important;
        }
     
        #urlbar dropmarker,
        #identity-box,
        #star-button,
        #go-button,
        .tab-throbber,
        .tabs-newtab-button,
        .tab-throbber[progress] {
            display: none !important;
        }
        .titlebar-placeholder[type="caption-buttons"] {
            margin-left: 10px !important;
        }
     
        .tabbrowser-tabs:not([drag=detach]) > .tabbrowser-tab:not([pinned])[fadein] {
            min-width: 30px !important;
            max-width: 200px !important;
        }
     
        notificationbox {
            overflow-x: hidden;
        }
     
        /* hide vertical scrollbar */
        notificationbox {
            overflow-x: hidden;
        }
        browser[type="content-primary"], browser[type="content-targetable"] {
            overflow-y: scroll;
            margin-right: 0px; /* 12px == width of my scrollbar */
        }
     
        browser[type="content-primary"], browser[type="content-targetable"] {
            overflow-y: scroll;
            margin-right: 0px;
        }
     
        .searchbar-engine-image {
               display: none !important;
        }
        .search-go-button {
               display: none !important;
        }
        #nav-bar {
               background-image: none !important;
               background-color: #1c1c1c !important;
               border: none !important;
               margin-bottom: 0 !important;
               padding: 0 !important;
        }
        #url-bar {
            background: none !important;
            border: none !important;
            border-radius: 1px 0 0 0 !important;
            margin: 0 !important;
            box-shadow: none !important;
            color: #1c1c1c !important;
        }

